@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: 'gothamMedium';
  src: url('./font/GothamMedium.otf');
}
html, body {
  background-color: #121212 !important;
  font-family: 'gothamMedium'!important;
  color: white !important;
}
div {
  padding-top: 10px;
}

select {
  border:none;
  border-radius:100px;
  width: 200px;
  height: 30px;
  font-family:'gothamMedium';
  text-align: center;
  color: #333;
}
option {
  color: #959caf;
}
button {
  border: none;
  border-radius: 100px !important;
  background-color: #1db954 !important;
  font-family:'gothamMedium';
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
}
.song-list {
  border: 50px;
  width: 400px;
}